{% extends 'layout.html.twig' %}

{% block title %}Salutations{% endblock %}

{% block body %}

    {% block header %}
        <h1>{{ 'Un titre magnifique'|capitalize }}</h1>
    {% endblock %}

{% endblock %}

